---
- name: Start docker postgres exporter container
  community.docker.docker_compose:
    state: present
    project_name: prometheus_postgres_exporter
    definition:
      version: '2'
      services: |
        {{
          {
            postgres_exporter_service.name: {
              "image": postgres_exporter_docker_image,
              "container_name": postgres_exporter_service.name,
              "ports": [
                "127.0.0.1:" ~ postgres_exporter_service.port | default(9187) ~ ":9187",
              ],
              "environment": postgres_exporter_service.environment,
              "hostname": postgres_exporter_service.name,
              "restart": "always",
              "labels": postgres_exporter_docker_labels,
            }
          }
        }}
      networks:
        default:
          external:
            name: "{{ postgres_exporter_docker_network_name }}"
  when:
    - postgres_exporter_containers is undefined
    - postgres_exporter_swarm_manager is undefined

- name: Start docker postgres exporter few containers
  community.docker.docker_compose:
    state: present
    project_name: "{{ item.postgres_exporter_container_name }}"
    definition:
      version: '2'
      services:
        postgres_exporter:
          image: "{{ postgres_exporter_docker_image }}"
          container_name: "{{ item.postgres_exporter_container_name }}"
          ports:
            - "127.0.0.1:{{ item.postgres_exporter_host_port }}:9187"
          environment:
            - PG_EXPORTER_AUTO_DISCOVER_DATABASES=true
            - DATA_SOURCE_NAME={{ item.postgres_exporter_data_source_name }}
          hostname: "{{ ansible_host }}"
          restart: always
          labels: "{{ postgres_exporter_docker_labels }}"
      networks:
        default:
          external:
            name: "{{ item.postgres_exporter_docker_network_name }}"
  with_items: "{{ postgres_exporter_containers }}"
  when:
    - postgres_exporter_containers is defined
    - postgres_exporter_swarm_manager is undefined

- name: Deploy postgres_exporter to docker swarm
  block:
    - name: Ensure pip installation
      package:
        name: "python3-pip"
        state: present

    - name: Install newer version of pip itself
      pip:
        name: "pip"
        state: latest
        executable: pip3

    - name: Install jsondiff from pip
      pip:
        name: "jsondiff"
        state: present
        executable: pip3

    - name: Deploy docker postgres_exporter container in swarm
      community.docker.docker_stack:
        state: present
        name: "{{ postgres_exporter_stack_name }}"
        compose:
          - version: '3.5'
            services: |
              {{
                {
                  postgres_exporter_service.name: {
                    "image": postgres_exporter_docker_image,
                    "hostname": postgres_exporter_service.name,
                    "labels": postgres_exporter_docker_labels,
                    "ports": [
                      postgres_exporter_service.port | default(9187) ~ ":9187"
                    ],
                    "environment": postgres_exporter_service.environment,
                    "deploy": postgres_exporter_swarm_deploy
                  }
                }
              }}
            networks:
              default:
                external:
                  name: "{{ postgres_exporter_docker_network_name }}"
      run_once: True

  delegate_to: "{{ postgres_exporter_swarm_manager }}"
  when: postgres_exporter_swarm_manager is defined
